body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #EBF4F6;
    color: white;
}

header {
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
    text-decoration: underline;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}
.header:hover{
transform: translateY(-5px);
    

}
.hackathon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hackathon {
    width: calc(20% - 20px);
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hackathon:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hackathon-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(28, 173, 225);
    text-decoration: underline;
}

.hackathon-description {
    margin-bottom: 10px;
}
.search-container {
position: absolute;
top: 20px;
right: 20px;
}

.search-container input[type="text"] {
padding: 5px;
width: 200px;
border-radius: 5px;
border: 1px solid #ccc;
}

.search-container button {
padding: 5px 10px;
border: none;
border-radius: 5px;
background-color:whitesmoke;
color: #000;
font-weight: bold;
cursor: pointer;
}
