<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="formteams1.css">
    <style>
                   
    </style>
</head>
<body><div class="heading">
    <h1>Form Your Own Team</h1>
           <h3>Powered By BrainBridges</h3>
</div>
    <div class="container">
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Yash Singhal</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="woman.png" alt="" srcset="">
            <h2>Sudeepti Singh</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Swastik Pandey</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="woman.png" alt="" srcset="">
            <h2>Shubhi Rusiya</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="woman.png" alt="" srcset="">
            <h2>Niharika Jain</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Yash Singhal</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Yash Singhal</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Yash Singhal</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
    </div>
    
</body>
</html>